{% extends "paginas/modelo.html" %}

{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block conteudo %}
    <h3>{% block titulo_conteudo %}{% endblock titulo_conteudo %}</h3>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% block url_retorno %}{% endblock url_retorno %}">
            <button class="btn btn-light" type="button">
                Cancelar
            </button>
        </a>
        <button type="submit" class="btn btn-success">
            Salvar
        </button>
    </form>
{% endblock %}