{% extends "paginas/modelo.html" %}

{% load static %}

{% block conteudo %}
<div>
    <a href="{% block url_cadastro %}{% endblock url_cadastro %}">
        <button type="button">
            {% block texto_btn_novo %}
            {% endblock texto_btn_novo %}
        </button>
    </a>
    <div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    {% block colunas %}
                    {% endblock colunas %}
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.pk }}</td>
                        {% block linhas %}
                        {% endblock linhas %}
                        <td>
                            <a href="{% block url_atualizacao %}{% endblock url_atualizacao %}">
                                <button type="button">
                                    Alterar
                                </button>
                            </a>
                            <a href="{% block url_exclusao %}{% endblock url_exclusao %}">
                                <button type="button">
                                    Excluir
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
{% endblock %}