
{% extends "paginas/componentes/lista_componente.html" %}

{% block titulo %}
Listagem de Estágio
{% endblock titulo%}

{% block titulo_conteudo %}
Listagem de Estágio
{% endblock titulo_conteudo%}

{% block url_cadastro %}
{% url 'estagio-cadastro' %}
{% endblock url_cadastro%}

{% block url_atualizacao %}
{% url 'estagio-atualizacao' obj.pk %}
{% endblock url_atualizacao %}

{% block url_exclusao %}
{% url 'estagio-exclusao' obj.pk %}
{% endblock url_exclusao %}

{% block texto_btn_novo %}
Novo Estágio
{% endblock texto_btn_novo%}

{% block colunas %}
<th>Estudante</th>
<th>Empresa</th>
<th>Data Início</th>
<th>Data Término</th>
<th>Protocolado Por</th>
{% endblock colunas%}

{% block linhas %}
<td>{{ obj.estudante.nome }}</td>
<td>{{ obj.empresa }}</td>
<td>{{ obj.data_inicio }}</td>
<td>{{ obj.data_termino }}</td>
<td>{{ obj.protocolado_por }}</td>
{% endblock linhas%}